<!-- <div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">                                
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Basic</h4>
                </div>
            </div>
        </div>                            
        <div class="widget-content widget-content-area text-center">
            <button class="btn btn-primary default">Default</button>

            <div class="code-section-container">
                        
                <button class="btn toggle-code-snippet"><span>Code</span></button>

                <div class="code-section text-left">
                    <pre>
&lt;button class="btn btn-primary default"&gt;Default&lt;/button&gt;

$('.default').click(function() {
   Snackbar.show({text: 'Example notification text.', duration: 100000});
});</pre>
                </div>
            </div>

        </div>
    </div>
</div> -->