<%- include('sidebarmenu.ejs')%>

<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
<div class="container-fluid">
        <div class="row">
            <style type="text/css">
                #mask {
                    position: fixed;
                    z-index: 999;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity:0.2;
                }
                #loading {
                    width: 200px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    position: fixed;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 999;
                    border: solid 1px #000;
                    background: #333;
                    color:#FFF;
                }
            </style>
        
            <div id="mask">
            
            </div>
            <div id="loading">
            loading...
            </div>
<div class="col-lg-12 layout-top-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>View Business Licence Application</h4>
                    <input type="hidden" class="form-control text-black" id="trackNo" name="trackNo">
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area icon-pill">
            
            <ul class="nav nav-pills mb-3 mt-3" id="icon-pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active a" id="icon-pills-applicatnt-tab" data-toggle="pill" href="#icon-pills-home" role="tab" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Application Details </a>
        
                </li>
                <li class="nav-item">
                    <a class="nav-link b" id="icon-pills-business-tab" data-toggle="pill" href="#icon-pills-business" role="tab" aria-controls="icon-pills-business" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> Business Details</a>
                </li>
                <li class="nav-item" onclick="getAttachments()">
                    <a class="nav-link c" id="icon-pills-profile-tab" data-toggle="pill" href="#icon-pills-profile" role="tab" aria-controls="icon-pills-contact" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg> Attachments</a>
                </li>
                <li class="nav-item" onclick="firstView()">
                    <a class="nav-link a" id="icon-pills-payment-tab" data-toggle="pill" href="#icon-pills-payment" role="tab" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Payment Details </a>
        
                </li>
                <li class="nav-item" onclick="comment()">
                    <a class="nav-link a" id="icon-pills-contact-tab" data-toggle="pill" href="#icon-pills-contact" role="tab" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Comments </a>
        
                </li>
                <li class="nav-item" >
                    <a class="nav-link a" id="icon-pills-contact-tab" 
                    data-toggle="pill" href="#icon-pills-submit" 
                    role="tab" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4">

                    </circle></svg> Submit Suppliment </a>
        
                </li>
            </ul>

            <div class="tab-content" id="icon-pills-tabContent">
                <div class="tab-pane fade" id="icon-pills-payment" role="tabpanel" aria-labelledby="icon-pills-payment-tab1">

                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mb-4 mt-4 text-black">
                                Bill and Payment Items
                                <table class="multi-table table table-hover paymentId" id="paymentId" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Bill Items</th>
                                            <th>Amount</th>
                                            <th>Control Number</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Bill Items</th>
                                            <th>Amount</th>
                                            <th>Control Number</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control text-black" id="applicationId" name="applicationId">
                    <input type="hidden" class="form-control text-black" id="serviceCode" name="serviceCode">
                    <a href="#" aria-expanded="false" class="dropdown-toggle">
                        <button type="button" class="btn btn-warning mt-3">Download Invoice</button>
                    </a>
                    <a href="#" aria-expanded="false" class="dropdown-toggle">
                        <button type="button" class="btn btn-primary mt-3">Download Receipt</button>
                    </a>

                </div>
                <div class="tab-pane fade show active" id="icon-pills-home" role="tabpanel" aria-labelledby="icon-pills-home-tab">
                    <div class="row">
                        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            
                                        </div>                                                                        
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <h4> Application Information</h4>
                                    <form>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6 text-black">
                                                <label for="inputEmail4" class="text-black">Tracking Number</label>
                                                <input type="text" class="form-control text-black" id="inputEmail4" placeholder="Tracking No" disabled>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="text-black">Service Type</label>
                                                <input type="text" class="form-control text-black" id="servtype" value="New Application for Business Licence" placeholder="Service Name" disabled >
                                            </div>

                                        </div>
                                        <h4> Applicant Information</h4>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">First Name</label>
                                                <input type="text" class="form-control text-black" id="fname" placeholder="fname" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Middle Name</label>
                                                <input type="text" class="form-control text-black" id="mname" placeholder="middle name" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Last Name</label>
                                                <input type="text" class="form-control text-black" id="lname" placeholder="last name" disabled>
                                            </div>
                                            <div class="form-group col-md-4 text-black">
                                                <label for="inputEmail4" class="text-black">Gender</label>
                                                <div class="form-group mb-0">
                                                  <input type="text" class="form-control text-black" id="gender" placeholder="Gender" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 text-black">
                                                <label for="inputEmail4" class="text-black">Date of Birth</label>
                                                <div class="form-group mb-0">
                                                  <input type="text" class="form-control text-black" id="dob" placeholder="date of birth" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 text-black">
                                                <label for="inputEmail4" class="text-black">Citizenship</label>
                                                <div class="form-group mb-0">
                                                  <input type="text" class="form-control text-black" id="citizen" placeholder="Citizen" disabled>
                                                </div>
                                            </div>
                                        
                                        </div>
                             
                                        <div class="form-row mb-6">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        
                    </div>     
                </div>
                <div class="tab-pane fade" id="icon-pills-business" role="tabpanel" aria-labelledby="icon-pills-business-tab">
                    <div class="row">
                        <div id="flFormsGrid2" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            
                                        </div>                                                                        
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <form>
                                        <div class="form-row mb-4">
                                                <input type="hidden" class="form-control text-black" id="busorigintype" disabled>
                                                <input type="hidden" class="form-control text-black" id="bustype" disabled>
                                        </div>

                                        <div class="form-row mb-4 natural_person" id="natural_person" name="natural_person" style="display: none">
                                        
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">NIDA Number(NIN)</label>
                                                    <div class="input-group mb-4">
                                                    <input type="text" class="form-control" id="nida_no" placeholder="NIDA Number" aria-label="NIDA Number">
                                                    <div class="input-group-append NinFirst">
                                                      <button class="btn btn-primary" onclick="NinVerifier()" type="button">LOAD FROM NIDA</button>
                                                    </div>
                                                    <div class="input-group-append NinLoader" style="display: none">
                                                        <button class="btn btn-info btn-lg mb-3 mr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader spin mr-2"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>  Please Wait...</button>
                                                    </div>
                                                  </div>
                                              </div>
                                              <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">First Name</label>
                                                <input type="text" class="form-control" id="fname_nat_local" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Middle Name</label>
                                                <input type="text" class="form-control" id="mname_nat_local" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Last Name</label>
                                                <input type="text" class="form-control" id="lname_nat_local" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Gender</label>
                                                <input type="text" class="form-control" id="gender_nat" disabled>
                                            </div>
                                            <div class="form-group col-md-4 text-black">
                                                <label for="inputEmail4" class="text-black">Date of Birth</label>
                                                <div class="form-group mb-0">
                                                    <input id="basicFlatpickr1" value="1990-10-22" class="form-control flatpickr1 flatpickr-input active" type="text" placeholder="Select Date.." disabled>
                                                </div>
                                            </div>
                                            <!-- <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Date of Birth</label>
                                                <input type="text" class="form-control" id="dob_nat" disabled>
                                            </div> -->
                                        </div>

                                        <div class="form-row mb-4 company" id="company" name="company" style="display: none">
                                                    
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="text-black">Incorporate Number</label>
                                                    <div class="input-group mb-4">
                                                    <input type="text" class="form-control inco_no" id="inco_no" name="inco_no" placeholder="Incorporate Number" aria-label="Incorporate Number">
                                                    <div class="input-group-append CompFirst">
                                                        <button class="btn btn-primary" onclick="CompanyVerifier()" type="button">SEARCH</button>
                                                      </div>
                                                      <div class="input-group-append CompLoader" style="display: none">
                                                          <button class="btn btn-info btn-lg mb-3 mr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader spin mr-2"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>  Please Wait...</button>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="text-black">Company Name</label>
                                                <input type="text text-black" class="form-control" id="company_name" disabled>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="text-black">Company Type</label>
                                                <input type="text text-black" class="form-control" id="company_type" disabled>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="text-black">Date of Incoperation</label>
                                                <input type="text text-black" class="form-control" id="company_date" disabled>
                                            </div>
                                        </div>

                                        <div class="form-row mb-4 thercorporate" id="thercorporate" name="thercorporate" style="display: none">
                                                      
                                            <div class="form-group col-md-6">
                                              <label for="inputEmail4" class="text-black">Registration Number</label>
                                              <input type="text" class="form-control reg_no_other" name="reg_no_other" id="reg_no_other">
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label for="inputEmail4" class="text-black">Corporate Name</label>
                                              <input type="text" class="form-control corporate_name" id="corporate_name" name="corporate_name">
                                              <div class="invalid-feedback check_name_space" style="display: none">
                                                  Corporate Name must be atleast two strings
                                              </div>
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label for="inputEmail4" class="text-black">Leader/Trustee/Director 1 Full Name</label>
                                              <input type="text" class="form-control leadername_nat" id="leadername_nat" name="leadername_nat">
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label for="inputEmail4" class="text-black">Leader/Trustee/Director 2 Full Name</label>
                                              <input type="text" class="form-control leadername_nat_2" id="leadername_nat_2" name="leadername_nat_2">
                                          </div>
                                      </div>

                                      <div class="form-row mb-4 business_name" id="business_name" name="business_name" style="display: none">
                                                  
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4" class="text-black">Registration Number</label>
                                            <div class="input-group mb-4">
                                                <input type="text" class="form-control bn_no" id="bn_no" name="bn_no" placeholder="Registration Number" aria-label="Registration Number" required>
                                                <div class="input-group-append BNFirst">
                                                    <button class="btn btn-primary" onclick="BNVerifier()" type="button">SEARCH</button>
                                                  </div>
                                                  <div class="input-group-append BNLoader" style="display: none">
                                                      <button class="btn btn-info btn-lg mb-3 mr-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader spin mr-2"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>  Please Wait...</button>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="inputEmail4" class="text-black">Business Name</label>
                                            <input type="text" class="form-control text-black" id="bn_name" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4" class="text-black">Business Name Type</label>
                                            <input type="text" class="form-control text-black" id="bn_type" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4" class="text-black">Date of Registration</label>
                                            <input type="text" class="form-control text-black" id="date_registration" disabled>
                                        </div>
                                    </div>
                                        
                                   
                                        <div class="form-row mb-4">
                                            <input type="hidden" class="form-control" id="taxpayer" disabled>
                                        
                                            
                                         

                                            <!-- <div class="form-group col-md-4 nounits_div" style="display: none">
                                                <label for="inputEmail4" class="text-black">Number of Units for the selected business line</label>
                                                <input type="number" class="form-control " value="1" id="nounits">
                                                <span style="color: red;">Number of Units must be greater or equal to 1</span>
                                            </div> -->

                                            <input type="hidden" class="form-control" id="businessLicenceClassId">
                                            <input type="hidden" class="form-control" id="issuingAuthorityId">
                                        </div>
                                        <h4> Address Information</h4>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Address Type</label>
                                                <select id="addressAreaB" name="addressAreaB" onchange="getAddrAreaB()" class="form-control text-black">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">

                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Region</label>
                                                <!-- <input type="text" class="form-control text-black" id="regionlistB" aria-label="Recipient's username" disabled> -->
                                                <select class="form-control  basic text-black" onchange="getDistrictB()" id="regionlistB">
            
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">District</label>
                                                <select class="form-control  basic text-black" onchange="getWardB()" id="districtlistB" >
                                                    </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Ward</label>
                                                    <!-- <label for="inputEmail4" class="text-black">Ward</label> -->
                                                    <select class="form-control  basic text-black" onchange="getPostCode()" id="wardIdB" >
                                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Postal Code</label>
                                                <input type="text" class="form-control text-black" id="postcode">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Street</label>
                                                <input type="text" class="form-control text-black" id="inputEmail4Street">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Road</label>
                                                <input type="text" class="form-control text-black" id="inputroad" >
                                            </div>
                                        </div>
                                        <div class="form-row mb-4 locationB" style="display: none">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Plot No</label>
                                                <input type="text" class="form-control text-black" id="plot_no" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Block No</label>
                                                <input type="text" class="form-control text-black" id="block_no" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">House Number</label>
                                                <input type="number" class="form-control text-black" id="house_no" >
                                            </div>
                                        </div>
                                        <div class="form-row mb-4 unservayedB" style="display: none">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Unsurveyed Area</label>
                                                <textarea class="form-control text-black" id="unservayedarea" rows="3" ></textarea>
                                            </div>
                                        </div>
                                        <h4> Contact Information</h4>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">P.O. Box</label>
                                                <input type="text" class="form-control text-black" id="inputEmail4pobox" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Phone No</label>
                                                <input type="phone" class="form-control text-black"  onkeypress="return onlyNumberKey(event)"  id="inputEmail4phn" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4" class="text-black">Email address</label>
                                                <input type="email" class="form-control text-black" id="inputEmail4comp" >
                                            </div>
                                        </div>
                                         <button class="btn btn-success" onclick="saveBizDet()" type="button" >Update</button>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>     
                </div>
                <div class="tab-pane fade" id="icon-pills-submit" role="tabpanel" aria-labelledby="icon-pills-submit-tab">
                    <div class="row">
                        <div id="flFormsGrid2" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            
                                        </div>                                                                        
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <form>
                                        <div class="form-row mb-4">
                                                <input type="hidden" class="form-control text-black" id="busorigintype" disabled>
                                                <input type="hidden" class="form-control text-black" id="bustype" disabled>
                                        </div>


                                        <h4> By pressing this button you are submitting Suppliment</h4>
                                         <button class="btn btn-success" onclick="submitSup()" type="button" >Submit</button>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>     
                </div>
                <div class="tab-pane fade" id="icon-pills-profile" role="tabpanel" aria-labelledby="icon-pills-profile-tab1">

                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mb-4 mt-4 text-black">
                                Required Documents/Attachments
                                <table class="multi-table table table-hover attachmentId" id="attachmentId" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Attachment Name</th>
                                            <th>Description</th>
                                            <th>Document</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Attachment Name</th>
                                            <th>Description</th>
                                            <th>Document</th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mb-4 mt-4 text-black">
                                Permits Documents/Attachments
                                <table class="multi-table table table-hover" id="permittId" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Permit Name</th>
                                            <th>Description</th>
                                            <th>Document</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Attachment Name</th>
                                            <th>Description</th>
                                            <th>Document</th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="/MyApplication" aria-expanded="false" class="dropdown-toggle">
                        <button type="button" class="btn btn-primary mt-3">Submit</button>
                    </a> -->
                </div>

                <div class="tab-pane fade" id="icon-pills-contact" role="tabpanel" aria-labelledby="icon-pills-contact-tab">
                    <div class="form-row mb-6">
                        <div class="form-group col-md-8">
                            <label for="inputEmail4" class="text-black">Comment</label>
                            <textarea class="form-control text-black" id="comments" rows="3" aria-readonly="false" disabled></textarea>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div id="rotateInDownLeft" class="modal animated rotateInDownLeft custo-rotateInDownLeft" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload File here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control uploadType" name="uploadType" id="uploadType">
                <input type="hidden" class="form-control categoryID" name="categoryID" id="categoryID">

                <!-- <div class="form-group col-md-12">
                    <label for="inputEmail4" class="text-black">Tracking Number</label>
                    <input type="text" class="form-control trak_no" id="trak_no" >
                </div> -->
                <div class="form-group col-md-12">
                    <label for="inputEmail4" class="text-black">Attachment Name</label>
                    <input type="text" class="form-control atach_nem" id="atach_nem" >
                    
                </div>
                <input id="fileupload" type="file" onchange="validateSize(this)" name="fileupload" class="form-control-file fileupload" />
                <span style="color: red;">File maximum 2MB(formart only pdf)</span>
            </div>
            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Cancel</button>
                <!-- <button type="button" id="upload-btn" name="upload-btn" onclick="fileUploadXPlan()" class="btn btn-primary" data-dismiss="modal">Upload</button> -->
                <button type="button" id="upload-btn" name="upload-btn" onclick="fileUploadX()" class="btn btn-primary" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>
<div id="zoomupModal" class="modal animated zoomupModal custo-zoomupModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload File here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control uploadType1" name="uploadType1" id="uploadType1">
                <input type="hidden" class="form-control categoryID1" name="categoryID1" id="categoryID1">

                <div class="form-group col-md-12">
                    <label for="inputEmail4" class="text-black">Permit Name</label>
                    <input type="text" class="form-control atach_nem1" id="atach_nem1" >
                    
                </div>
                <input id="fileupload1" type="file" onchange="validateSize1(this)" name="fileupload1" class="form-control-file fileupload1" />
                <span style="color: red;">File maximum 2MB(format only pdf)</span>
            </div>
            <div class="modal-footer md-button">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Cancel</button>
                <button type="button" id="upload-btn1" name="upload-btn1" onclick="fileUploadP()" class="btn btn-primary" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>
<%- include('jax_view_bus.ejs')%> 
<%- include('footermenu.ejs')%> 